header{
    position: relative;
}
footer{
    position: fixed;
    right:0;
    bottom:0;
    height:96px;
    width:56px;
    background-color: transparent;
    
    #plus-icon, #question-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        z-index: 100;
    }
}