// .masonry { /* Masonry container */
//   column-count: 5;
//   column-gap: 5em;
// }

// .image { /* Masonry bricks or child elements */
//   background-color: #eee;
//   display: inline-block;
//   margin: 0 0 1em;
//   width: 100%;
//   height: auto;
// }


.masonry{
 column-count: 5;
 column-gap: 20px;
 padding: 0px 70px;
 grid-auto-rows: 0;

 .subtitle{
   font-family: 'Roboto', sans-serif;
   padding: 6px 4px;
 }
}
.masonry-image{
  position:relative;
 display: inline-block;
 width: 100%;
 border-radius: 10px;
 margin-bottom: 25px;
}

.masonry-image img {
 display:block;
 width: 100%;
 border-radius: 10px;
 transition: box-shadow .3s;
}

.masonry-image img:hover{
   box-shadow: 0 0 11px rgba(33, 33, 33, 0.459);
}

.splash-container{
  width:100vw;
  height: 100vh;
  position:relative;
  overflow-y: hidden;
  // padding: 0px 10px;
}
.splash-header{
  text-align:center;
  font-weight: 500;
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;
      color: #c50b09;
    margin-top: 80px;
}
.splash-columns{
  position: absolute;
    column-count: 5;
    column-gap: 30px;
    grid-auto-rows: 0;
    top: 60px;
    overflow-y: hidden;
    
}
.splash-img > img{
  column-fill:auto;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  animation-name: fadeIn;
  animation-duration: 1s;
  // animation-fill-mode: both;
}
.splash-img#col-1 img{
    animation-delay: .04s;
}

.splash-img#col-2{
  padding-top:135px;
  page-break-inside: avoid;
  img{
    animation-delay: .06s;
  }
}

.splash-img#col-3{
  padding-top:215px;
   img{
    animation-delay: .08s;
  }
}
.splash-img#col-4{
  padding-top:135px;
  img{
    animation-delay: .1s;
  }
}
.splash-img#col-4 img{
    animation-delay: .12s;
}

// @-webkit-keyframes fadeIn {
//   0% {opacity: 0;}
//   100% {opacity: 1;}
// }
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 