// .masonry { /* Masonry container */
//   column-count: 5;
//   column-gap: 5em;
// }

// .image { /* Masonry bricks or child elements */
//   background-color: #eee;
//   display: inline-block;
//   margin: 0 0 1em;
//   width: 100%;
//   height: auto;
// }

.masonry{
 column-count: 5;
 column-gap: 20px;
 padding: 0px 70px;
 grid-auto-rows: 0;

 .subtitle{
    font-family: 'Roboto', sans-serif;
    padding-top: 2px;
 }
}
.masonry-image{
 display: inline-block;
 width: 100%;
 border-radius: 10px;
 margin-bottom: 25px;
}

.masonry-image img {
 display:block;
 width: 100%;
 border-radius: 10px;
 transition: box-shadow .3s;
}

.masonry-image img:hover{
   box-shadow: 0 0 11px rgba(33,33,33,.2);
}