

.profile-head{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.profile-head .user-icon{
    display: flex;
    width:105px;
    height:105px;
    margin-right: 0px;


    .user-letter{
        text-transform: capitalize;
        font-size: 40px;
        text-align: center;
        justify-content: center;
    }
}
#username{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin: 10px 0px 10px 0px;
    justify-content: center;
    h1{
        text-align: center;
    }
}

#user-handle{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 4px 0px 4px 0px;
}

.followers-info{
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    div{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;

    }

    span{
        padding: 0px 6px;
        
    }
}

#options-bar{
    display: flex;
    justify-content: flex-end;
    padding: 0px 8px 12px 8px;
    
    .plus-dropdown-icon{
        width: 20px;
        height: 20px;
        position: relative;
        display: inline-block;
        padding: 10px;
        margin-left: 5px;
        color:grey;
    }
    .plus-dropdown-icon:hover{
        background-color: lightgray;
        border-radius: 50%;
        color:black;
        cursor: pointer;
    }

    .dropdown-open{
   position: absolute;
   display:block;
   z-index: 4;
   right: 10px;
   bottom: -80px;
   background-color: white;
   border-radius: 10px;
   border: 0px;
   width: 200px;
   margin-left: 10px;
   box-shadow: 0 3px 4px 0 rgba(189, 189, 189, 0.356);

   h1{
       font-family: 'Hind Siliguri', sans-serif;
       font-size: 12px;
       padding: 13px 0px 10px 0px;
       margin-left: 10px;
       color: rgba(48, 46, 46, 0.507);
   }
}
}
.plus-dropdown{
  position: absolute;
  display:none;
}


.boards-grid{
    padding: 0px 50px;
    display:grid;
    grid-template-columns: repeat(5, 265px);
    grid-auto-rows: 225px;
    margin: 0;
    justify-content: center;

    .board{
        padding:4px;
    }
    .board-images{
        position: relative;
        height:160px;
        width: 230px;
        background-color: rgb(238, 232, 232);
        border-radius: 15px;
    }
    .pen-icon{
        position: absolute;
        display: none;
        
        #pen{
            padding:3px;
            border-radius: 50%;
            font-size: 100%;
        }
    }

    .board-title{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        margin-top: 2px;
    }
    .board-info{
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 12px;
        height: 40px;
    }

}

.new-board-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;

    .form-container{
        display: flex;
        flex-direction: column;
        padding: 5px 0px;
        box-sizing: border-box;
        width: 400px;

        .board-info{
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 12px;
            display: inline-block;
            margin-bottom: 5px;
        }

        .board-input{
            border-radius: 10px;
            border: 2px solid rgb(231, 230, 230);
            height:35px;
            display: flex;
            align-items: center;
            margin-bottom: 7px;

            input{
                width:100%;
                background-color: transparent;
                border-width: 0;
                padding-left: 7px;
            }
        }

    }

}

.create-button-div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 45px;
    .create-button{
        border-radius: 20px;
        border-width:0px;
        background-color: rgb(241, 237, 237);
        color: rgba(136, 135, 135, 0.822);
        padding:10px;
        font-size: 14px;
        font-family: 'Hind Siliguri', sans-serif
    }
}

.board-images:hover .pen-icon{
    display: block;
    position: absolute;
    font-size: 30px;
    margin-right:3px;
    bottom:0;
    right:0; 
    border-radius: 50%;
}