// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container{
   display: flex;
   align-items: center;
   flex-direction: column;
   font-family: 'Fira Sans', sans-serif;
   background: white;
   min-height: 500px;
   width:425px;
   padding: 30px 10px 20px;
   border-radius:10px,

 }
 .form-container{
    display: flex;
    flex-direction: column;
    width: 250px;
 }

 .form-container .login-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin-top: 15px;
 }

 .login-form-container .modal-title{
   font-family: 'Hind Siliguri', sans-serif;
   margin-bottom: 30px;
   margin-bottom: 2px;
   font-size: 40px;
 }

 .login-form-container .login-input {
   display: block;
   margin-bottom: 4px;
   height: 35px;
   border: 2px solid rgba(223, 218, 218, 0.973);
   border-radius: 10px;
   padding-left: 12px;
   font-style: inherit;
   width:100%;
  
 }


 .session-submit {
   text-transform: capitalize;
   background-color: rgb(197, 10, 10);
   color:white;
   font-weight:bold;
   border-radius: 20px;
   border-width: 0;
   width: 100%;
   box-sizing: border-box;
   height:35px;
   margin-top: 15px;
 }

 .demo-button{
   text-transform: capitalize;
   background-color: rgb(53, 85, 170);
   color:white;
   font-weight:bold;
   border-radius: 20px;
   border-width: 0;
   width: 100%;
   height:35px;
   margin-top: 15px;
   width: 250px;
 }

 .session-errors{
   font-family: 'Noto Sans TC', sans-serif;
   list-style: none;
   color: rgb(219, 24, 24);
   padding-bottom:3px;
   font-size: 10px;
 }

 .session-errors:first-child{
   padding-top:5px;

 }

 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 

 

  .demo-button{
    display:inline-block;
  }